[submodule "lpc_chip_11cxx"]
	path = lpc_chip_11cxx
	url = git@github.com:Squantor/lpc_chip_11cxx.git
[submodule "squantlibraries"]
	path = squantlibraries
	url = git@github.com:Squantor/squantorCodeLibraries.git
