[submodule "lpc_chip_11cxx"]
	path = lpc_chip_11cxx
	url = https://github.com/Squantor/lpc_chip_11cxx.git
[submodule "squantlibraries"]
	path = squantlibraries
	url = git@github.com:Squantor/squantorCodeLibraries.git
[submodule "squantorCodeLibraries"]
	path = squantorCodeLibraries
	url = https://github.com/Squantor/squantorCodeLibraries.git
[submodule "hardware/squantorPcbLibrary"]
	path = electronics/squantorPcbLibrary
	url = https://github.com/Squantor/squantorPcbLibrary.git
[submodule "software/squantorLibC"]
	path = software/squantorLibC
	url = https://github.com/Squantor/squantorLibC.git
[submodule "software/squantorLibEmbeddedC"]
	path = software/squantorLibEmbeddedC
	url = https://github.com/Squantor/squantorLibEmbeddedC.git
[submodule "software/squantorMinUnitC"]
	path = software/squantorMinUnitC
	url = https://github.com/Squantor/squantorMinUnitC.git
