[submodule "software/lpc_chip_11cxx"]
	path = software/lpc_chip_11cxx
	url = git@github.com:Squantor/lpc_chip_11cxx.git
[submodule "software/squantlibraries"]
	path = software/squantlibraries
	url = git@github.com:Squantor/squantlibraries.git
